* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container > div {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
